<?xml version="1.0"?>
<launch>

  <arg name="vicon_ip" default=""/>
  <arg name="fcu_url" default=""/>
  <arg name="gcs_url" default=""/>


  <!-- Spin-up Vicon Stream to ROS -->
  <include file="$(find vrpn_client_ros)/launch/sample.launch">
    <arg name="server" value="$(arg vicon_ip)"/>
  </include>

  <!-- Spin-up Mavros Connection to Pixhawk6C -->
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="gcs_url" value="$(arg gcs_url)"/>
  </include>

  <!-- Remap Vicon Pose Topic to Mavros Pose Topic -->
  <remap from="/vrpn_client_node/samwise/pose" to="/mavros/vision_pose/pose"/>

</launch>